@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --botao-cor: #b91e13;
    --botao-hover:#7e1c15;
    --botao-pressionado: #641212;
}

body{
    background-color: #9edb2b;
    color: white;
    font-family: 'Fredoka One', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-indent: 1cm;
}

.simbolo{
    height: 40px;
    border-radius: 100%;
}

.navbar_estilo
{
    background-color: #9edb2b;
}

.navbar_texto{
    color: black;
}

.imagem_panoramica{
    height: 300px;
    width: 100%;
    /* border-radius: 30px; */
    object-fit: cover;
    /* border-width: 5px; */
}
.imagens-lado
{
    width: 400px;
    height: auto;
    border-radius: 60px;
}

.Sessao_descricao{
    background-color: #b65b11;
    padding: 30px;
}
.Sessao_descricao-2
{
    background-color: #1187b6;
    padding: 30px;
}

.Sessao_descricao-3{
    padding: 30px;
}

.Integrante{
    width: 300px;
    height: auto;
}

.integrante-imagem{
    border-radius: 100%;
    object-fit: cover;
}
.integrante-background{
    background-color: #f2bd39;
    border-radius: 10px;
}

.integrante-texto{
    text-align: center;
    color: black;
    text-indent: 0%;
}

.video-estilo
{
    width: 700px;
}

.sessao-form
{
    display: flex;
    flex-direction: column;
    padding: 0%;
    padding-right: 10px;
    align-items: flex-start;
}

.texto-form{

}

.btn-formulario {
    --bs-btn-color: #fff;
  --bs-btn-bg: var(--botao-cor);
  --bs-btn-border-color: var(--botao-cor);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--botao-hover);
  --bs-btn-hover-border-color: var(--botao-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--botao-pressionado);
  --bs-btn-active-border-color: var(--botao-pressionado);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  }

.carousel-parametros{
    width: 700px;
}